
/* 登录页输入框样式 */

/* .login-page .login-container .el-input__inner {
    width: 83%!important;
} */
/* 输入框文字颜色 */
.login-page .login-container  .el-form-item__label {
    color: #fff !important;
}

/* 登入输入框颜色 */
.login-container .el-input__inner {
    /* width: 250px; */
    height: 40px;
    line-height: 100%;
    overflow: hidden;
    color: #fff;
    border: 1px solid #fff;
    background: none;
    font-size: 15px!important;
}
/*  */
/* .login-container input:nth-of-type(2).el-input__inner{
    width: 135px;
} */